{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
    {{ form_start(formRegister) }}
        <div {{ react_component('forms/CitiesInput')}}></div>
    {{ form_end(formRegister )}}
{% endblock %}
