{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div {{ react_component('layout/navigation/NavigationBar') }}></div>
    <h1>Home</h1>
{% endblock %}
