{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Dashboard - Tatanimo{% endblock %}
{% block content_title %}Dashboard{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}
{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
            <tr>
                <td>Some Column</td>
                <td>Another Column</td>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>snif</td>
                    <td>snouf</td>
                </tr>
        </tbody>
    </table>
{% endblock %}