@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
}

#grid-img-contact {
    grid: none;
}

@layer base {
    @font-face {
        font-family: 'Chunk Five';
        src: url(../../public/font/ChunkFive/Chunkfive.ttf);
    }
}

span.disabled{
    background: #f9c7c7;
    cursor: not-allowed;
    border-radius: unset;
}

span.disabled:hover{
    background: #f9c7c7;
}

input[type=number] {
    -moz-appearance: textfield;
    --tw-ring-shadow: 0 0 #000 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
