{% extends 'base.html.twig' %}

{% block title %}Edit ServicesType{% endblock %}

{% block body %}
    <h1>Edit ServicesType</h1>

    {{ include('services_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_services_type_index') }}">back to list</a>

    {{ include('services_type/_delete_form.html.twig') }}
{% endblock %}
