{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <section>
        <img src="{{ asset('img/background/messages-bg.jpg') }}"
             alt="Des chiots ensemble"
             class="w-full object-cover h-96">
    </section>
    <section class="px-28 flex flex-col items-center">
        <div {{ react_component('headers/FirstHeader', {'content': 'Messages', 'color': 'dark-blue', 'className': 'pt-32 mb-16'}) }}></div>
    </section>
    <section id="section-messages" class="mb-24 [&>div:first-child>a]:border-t-8">
        {% for key, room in rooms %}
            <div data-turbo-temporary {{ react_component('chat/Message', {roomSerialize: room|serialize, contactSerialize: contacts[key]|serialize, lastMessageSerialize: room.getFkMessage.first|serialize})}}></div>
        {% endfor %}
    </section>
{% endblock %}
