{% extends 'base.html.twig' %}

{% block title %}Recherche de garde d'animaux{% endblock %}

{% block body %}
    <section>
        <img src="{{ asset('img/background/guinea-pig.png') }}"
             alt="Chien et enfant devant une rivière"
             class="w-full object-cover">
    </section>
    <section class="flex flex-col items-center mb-8">
        <div {{ react_component('headers/FirstHeader', {'content': "Garde d'animaux", 'color': 'black', 'className': 'pt-32 mb-16'}) }}></div>
        <div {{react_component('services/Petsitting')}} class="flex flex-col items-center"></div>
    </section>
{% endblock %}
