{% extends 'base.html.twig' %}

{% block title %}Recherche de garde d'animaux{% endblock %}

{% block body %}
    <section>
        <img src="{{ asset('img/background/guinea-pig.png') }}"
             alt="Chien et enfant devant une rivière"
             class="w-full object-cover">
    </section>
    <section class="px-28 flex flex-col items-center">
        <div {{ react_component('headers/FirstHeader', {'content': "Garde d'animaux", 'color': 'black', 'className': 'pt-32 mb-16'}) }}></div>
        <div class="bg-beige w-full p-12 rounded-3xl" {{ react_component('forms/SearchPetsitter')}}></div>
    </section>
{% endblock %}
